.present__link {
text-decoration: none;
}

.present__text {
  font-family: var(--extra-font);
  font-size: 16px;
  line-height: 20px;
  color: var(--main-light);
  background-color: var(--grenn-opacity);
  text-align: center;
  padding: 187px 61px 43px 58px;
  margin-bottom: 35px;
}
