:root {
  //Шрифты
  --main-font: "Oswald", sans-serif;
  --extra-font: "Lato", sans-serif;

  // Цвета
  --main-light: #ffffff;
  --grey-pale: #E6E6E6;
  --grey-basic: #F2F2F2;
  --grey: #D9D9D9;
  --grey-special: #EAEAEA;
  --special-grey-2: #CDCDCD;
  --grey-dark-special: #444444;
  --grey-dark: #111111;
  --special-dark-grey-2: #222222;
  --main-bark: #000000;
  --grenn-opacity: rgba(104, 183, 56, 0.85);
  --basic-green: #68B738;

}
